* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000e0f;
    --secondary-color:#964734;
    --color-tertiary:#ffffff ;
    --accent1-color:#56b2b95e;
    --accent2-color:#afdde55e;
    --accent3-color:#ffffff;
    --accent4-color:#000000;
    --border-thin: 1px solid rgb(0 0 0/0.2);
    --border-thick: 2px solid rgb(0 0 0/0.2);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
body {
    font-family: var(--body-font);
}
h1,h2{
    font-family: var(--heading-font);
    padding: 10px;
}
header,
main,
footer {
    width: 800px;
    margin: 0 auto;
}

header,footer {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}
.header-content{
    height: 100px;
}
header nav ul {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 12px 0;
    background-color: var(--accent4-color);
}
header a {
    text-decoration: none;
    color: var(--color-tertiary);
    font-size: larger;    
}
header a:hover{
    padding: 8px 12px;
    border: var(--border-thin);
    border-radius:50px;
    color: var(--secondary-color);
    background-color: var(--accent3-color);
}

main{
    display:grid;
    grid-template-columns: 3fr 1fr;
    height: 400px;
}
main h2{
    color: var(--primary-color);
}
.main-content{
    background: var(--accent1-color);
    border: var(--border-thin);
}
.aside-content{
    background-color: var(--accent3-color);
}

footer{
    height: 120px;
    padding: 12px 0;
    text-align: center;
    font-size: large;
}